<div class="change-password-screen signed-in">
  <h4>Change Password</h4>
  <form id="change-password">
    <input type="password" placeholder="Old Password" name="passwords[old]">
    <input type="password" placeholder="New Password" name="passwords[new]">
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>
<div class="sign-out-screen signed-in">
  <h4>Sign Out</h4>
  <form id="sign-out">
    <button class="btn btn-primary" type="submit">Sign Out</button>
  </form>
</div>
