{{#if input}}
  <p>Hmm, having trouble processing your request.  Try something else.</p>
{{/if}}

{{#if deleted}}
  <p>Thanks, you've successfully deleted this profile.</p>
{{/if}}

{{#if updated}}
  <p>Thanks, you've successfully updated this profile.</p>
{{/if}}

{{#if created}}
  <p>Thanks, you've successfully created a new profile.</p>
{{/if}}
