@import '~bootstrap/scss/bootstrap';
$tan: #d0a678;
$steel-blue: #669ebd;
$light-steel: #cdbfd0;
$light-lilac: #e5dcef;
$rosy-brown: #b1a18c;
$dark-steel-blue: #294d60;
$pale-steel: #e8e2e9;

$fonts: $dark-steel-blue;

body {
  background-attachment: fixed;
  background-image: url('public/sign-in-page.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $fonts;
}

.btn {
  color: $light-lilac;
  margin: .5em;

  &:hover {
    background-color: $dark-steel-blue;
    }
}


.btn-secondary,
.btn-primary {
  background-color: $tan;
  border: $tan;
}

.camper-action,
.home {
  min-height: 20vh;
  min-width: 20vh;
}

.dropdown-toggle {
  background-color: $dark-steel-blue;
}

.opaque {
  background-color: $pale-steel;
  min-height: 100vh;
  opacity: .85;
}

.table-responsive {
  font-size: .8em;
  max-width: 90vw;
}
